.login-card {
  background-color: var(--background-secondary);
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

.login-container {
  height: 100vh;
  background-color: var(--background-primary);
}

.login__image {
  display: none;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: var(--text-primary);
  color: var(--background-secondary);
  border-radius: 4px;
  font-weight: bold;

}

.btn1:hover {
  background-color: var(--background-secondary);
  border: 1px solid;
  color: var(--text-primary);
}

@media (min-width: 992px){


  .login__image {
    display: block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}