.toast-wrapper {
  position: fixed;
  right: 0px;
  bottom: 0px;
  /* height: 100px;
  min-height: 300px;
  */
  width: 400px ; 
}

.toast-content {
  position: absolute;
  right: 10px;
  bottom: 10px;
}